apiVersion: authorization.openshift.io/v1
kind: ClusterRole
metadata:
  name: manage-deploymentconfigs
rules:
- apiGroups:
  - ""
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - get
  - patch
  - update

