apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: operatory-policy-custom-auto-scaler
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: operator-policy/example4/generator
    repoURL: https://github.com/giovannisciortino/gitops-examples.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
